<html>
    <head>
        <title>create a contest</title>
        <link rel="stylesheet" href="contest.css">
    </head>

    <body>
        <div id="branding"><h2>While True Code</h2> 
            <div id="btns">
                <a href="<%=host%>home"><div class="btn">Home</div></a>
                <a href="<%=host%>signout"><div class="btn">Sign Out</div></a>
            </div>
        </div>
        <div id="msg"></div>
        <form action="<%=host%>db/createContest" method="dialog" >

            <div id="contestName">
                <label for="contestName">About the Contest</label>
                <input type="text" required id="contestNameinp" name="contestName" placeholder ="name of the contest (max 50 chars)" class="aboutinps" autocomplete="off" maxlength="50"> 
                <textarea type="text" name="contestDesc" id="contestDescinp" class="aboutinps" placeholder="short description of the contest (optional)" > </textarea>

            </div>

            <div id="questions">
                <label for="questions">Contest Questions</label>
                <div id="questionSources"></div>
                <div id="add">add another question</div>
            </div>

            

            

            <div id="startContest">
                <label for="autoStartContest">Auto Start Contest</label>
                <input type="checkbox" name="autoStartContest" id="autoStartContest">
            </div>
            
            <div id="duration">
                <div>
                    <label for="duration">Duration Of The Contest</label>
                    <div id="durationDiv">
                        <input type="number" placeholder="hours" name="hours" required class="durationinps" min="0">
                        <input type="number" placeholder="minutes" name="minutes" required class="durationinps" min="0">
                        <input type="number" placeholder="seconds" name="seconds" required class="durationinps" min="0">    
                    </div>
                    
                </div>
                
            </div>
            
            
            
            
            

            <input type="submit" id="submit" value="Create Contest">
        </form>

        <script src="contest.js"></script>
    </body>


</html>