<html>
    <head>
        <title>created contests</title>
        <link rel="stylesheet" href="createdContests.css">
    </head>

    <body>
        <div id="branding"><h2>While True Code</h2>
            <div id="btns">
                <a href="<%=host%>home"><div class="btn">Home</div></a>
                <a href="<%=host%>signout"><div class="btn">Sign Out</div></a>
            </div>
        </div>

        <div id="createdContests">
            <h2>Contests created by you:</h2>
        </div>

        <script src="createdContests.js"></script>
    </body>
</html>