<html>
    <head>
        <title>home</title>
    </head>

    <body>
        <a href="http://localhost:3769/contest/start"><button>start contest</button></a>
        <a href="http://localhost:3769/manage"><button>manage contests</button></a>
    </body>
</html>