<html>
    <head>
        <title>registered</title>
        <link rel="stylesheet" href="registered.css">
    </head>

    <body>
        <div id="branding"><h2>While True Code</h2>
        <div id="btns">
            <a href="<%=host%>home"><div class="btn">Home</div></a>
            <a href="<%=host%>signout"><div class="btn">Sign Out</div></a>
        </div>
        </div>
        <div id="msg"></div>
        <div id="register">
            <h2>Register for a contest:</h2>
            <form action="<%=host%>register" method="dialog">
                <input type="text" required placeholder="contest id" id="contestid" autocomplete="off">
                <input type="submit" value="register" id="submit">
            </form>
        </div>

        <div id="registered">
            <h2>Contests that you have registered for:</h2>
        </div>

        <script src="registered.js"></script>
    </body>
</html>