<html>
    <head>
        <title>verify your handle</title>
        <link rel="stylesheet" href="verify.css">
        <script src="http://localhost:2001/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div id="message"></div>
        <div id="signupDiv">
            <form action="<%=host%>verifyUserHandle" method="dialog" >

                <div id="userName">
                    <label for="gfgUserName" class="profileLabel">GeekForGeeks user name</label>
                    <div class="inputDiv">
                        <input type="text" name="gfgUserName" required autocomplete="off">
                    </div>
                    
                </div>
    
                <div id="setPassword">
                    <label for="password" class="profileLabel">set password</label>
                    <div class="inputDiv">
                        <input type="text" name="password" required autocomplete="off">
                    </div>
                </div>
                
                <div id="verification">
                    <label for="solvedQuestion" class="profileLabel">verify yourself</label>
                    <div id="verificationInstructions">
                        submit any question on <a target="_blank" href="https://practice.geeksforgeeks.org/explore?page=1&difficulty[]=-2&sortBy=submissions">GeeksForGeeks</a> <div class="suggestion">(<i>correct or wrong ,doesnt matter</i>) from your account</div><p id="pasteInstruction">include following text <input type= "text" id ="verificationCode" name="verificationCode" readonly autocomplete="off"> in its solution <div class="suggestion">(<i>prefer including it as a comment</i>)</div>and submit question link below,before the session expires</p> <p id="timer"></p> <p id="expiryTime"> <%= expiryTime%> </p>

                        <div class="inputDiv">
                            <input type="text" name="solvedQuestion" id ="solvedQuestions" required placeholder="submit solved question link here" autocomplete="off">     
                        </div>
                    </div>

                </div>

                
                
                <div class="inputDiv">
                    <input type="submit" value="Verify" id="signup">
                </div>
               
    
            </form>
        </div>
        
        <script src="verify.js"></script>
    </body>
</html>