body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0px;
}

.contest{
    border: 1px solid black;
    padding:10px;
    margin-bottom: 5px;
    min-width: 800px;
}

#branding{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
    margin:-8px -8px 5px -8px;
}

.contestName{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    margin-bottom: 2px;
}

#btns{
    display: flex;
    position: absolute;
    right: 0px;
}

.btn{
    background-color: whitesmoke;
    color:black;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
    width:100px;
}

a{
    text-decoration: none;
}

.contestDesc{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-bottom: 5px;
}

a{
    margin-right:10px ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contestStatus{
    margin-top:10px;
}

.timer{
    margin-top:5px;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#contestid,#submit{
    height: 35px;
    width:250px;
    text-align: center;
    font-weight: bold;
}

#submit{
    width: 80px;
    background-color: black;
    color:white;
    border: 0px;
    cursor: pointer;
}

#submit:hover{
    background-color: white;
    color:black;
}

.msg{
    color : white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35px;
    
}