.noCrtSub{
    color:red;
}

.passedTestcases{
    color:limegreen;
}

.subTime{
    color:rebeccapurple;
}

table{
    border:5px solid black;
    border-collapse: collapse;
    width:fit-content;
    background-color: rgba(255, 255, 255, 0.911);
}

body{
    margin:2px;
}

th,td{
    border:2px solid black;
    padding: 5px;
}

th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contestName{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:black;
    color:aliceblue;
    min-height:75px;
    padding:20px;
    min-width: 1000px;
}



#creator{
    font-size:20px;
    margin-top:25px;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:15px;
}