#problems{
    margin: 10px 0px 10px 0px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#duration_input{
    margin: 10px 0px 10px 0px;
}

.contest_duration{
    width: 100px;
}

#contest_name_display{
    margin: 10px 0px 10px 0px;
}

#decision{
    margin: 10px 0px 10px 0px;
}

#duration_select{
    margin: 5px 0px 10px 0px;
}

#message{
    margin:0px 0px 10px 0px;
}