.contests{
    margin:10px 0px 10px 0px;
}

.contest_name{
    margin-right: 100px;
}

#duration{
    background-color: rgb(245, 152, 152);
    margin-right: 10px;
}

.controls{
    margin: 5px 0px 20px 0px
}