<!DOCTYPE html>
<html lang="en">
    <head>
        <title>start</title>
        <link rel="stylesheet" href="./start.css">
    </head>

    <body>
            <div id="status"></div>

            <div id="questions"><div id="q_status"></div></div>
            <input type="text" placeholder="add a question link" id="question">
            <button id="question_add">add</button>
            
            <button id="continue_btn">continue</button>

        <script src="../contest/start.js"></script>
        
    </body>
</html>